nav{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

.nav-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    column-gap: 2rem;
    // padding: 0 1rem;
}


.nav-logo{
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    span:first-child{
        color: var(--warning-color);
    }
    span:nth-child(2){
        color: var(--light-color);
    }
}

.nav-menu{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    .item-link{
        color: var(--light-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: .3px;
        transition: .2s;
        &:hover{
            cursor: pointer;
            color: var(--warning-color);
        }
    }
}
.item-link--active{
    color: var(--warning-color) !important;
}


.register-btn{
    background-color: var(--warning-color);
    border: none;
    color: var(--light-color);
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    transition: .1s;
    &:hover{
        cursor: pointer;
        background-color:  var(--warning-hover-color);
    }
}