nav{
    width: 100%;
    margin-top: 10px;
}

.nav-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2.7rem;
    padding: 0 1rem;
}


.nav-logo{
    h1{
        color: var(--light-color);
        font-size: 30px;
        font-weight: 900;
    }
}

.nav-menu{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    flex: 1;
    .item-link{
        color: var(--light-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 19px;
        letter-spacing: .3px;
        transition: .2s;
        &:hover{
            cursor: pointer;
            color: var(--warning-color);
        }
    }
}
.item-link--active{
    color: var(--warning-color) !important;
}
.nav__search-form{
    max-width: 350px;
display: flex;
align-items: center;
background: var(--secondary-color);
    width: 100%;
    padding: 0 10px;
    border-radius: 6px;
    .search-input{
        width: 100%;
        background: transparent;
        height: 41px;
        font-size: 16px;
        text-indent: 10px;
        border: none;
        outline: none;
        color: var(--light-color) !important;
        &::placeholder{
            color: var(--light-color);
            font-weight: 500;
        }
    }
    .search-icon{
        height: 100%;
        border: none;
        color: var(--light-color);
        font-size: 19px;
        background: transparent;
    }
}

.register-btn{
    background-color: var(--warning-color);
    border: none;
    color: var(--light-color);
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    transition: .1s;
    &:hover{
        cursor: pointer;
        background-color:  var(--warning-hover-color);
    }
}