@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
    &::selection {
        background-color: var(--warning-color);
    }
}