.hero-wrapper{
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    column-gap: 1.5rem;
    margin-top: 7rem;
}
.hero-content{
    .content-text{
        font-size: 48px;
        color: var(--light-color);
        font-weight: 600;
        max-width: 580px;
        line-height: 60px;
    }
    .info-text{
        color: var(--light-color);
        font-size: 17px;
        font-weight: 400;
        margin-top: 2rem;
    }
}

.hero-actions{
    margin-top: 2.3rem;
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    .subscribe-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        transition: .2s;
        padding: 1.4rem 1.7rem;
        background-color: var(--warning-color);
        &:hover{
                background-color: var(--warning-hover-color) !important;
        }
    }
    .trail-btn{
        @extend .subscribe-btn;
        background: transparent;
        border: 1px solid var(--warning-color);
        &:hover{
            background-color: var(--warning-color) !important;
        }
    }
}

.hero-image{
    width: 100%;
    max-width: 550px;
    height: 330px;
    img{
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
}